/*
Theme Name: Innofit
Author URI: https://wordpress.org/
Theme URI: https://wordpress.org/themes/innofit
Author: SpiceThemes 
Created by: Shahid (Scientech IT)
Copyright (c) 2018 Innofit
Date: Not mentioned
http://www.spicethemes.com
Name: green.css
*/



/*--------------------------------------------------------------
	Common
--------------------------------------------------------------*/

blockquote { border-left: 3px solid #ee591f; }


/*--------------------------------------------------------------
5. Forms
--------------------------------------------------------------*/

button,
input[type="button"],
input[type="submit"] {
	background-color: #ee591f;
}

.btn-default, .btn-animate.light, .btn-animate.dark { background: #ee591f; }
.btn-bg-default { background: #ee591f !important; }
.btn-border { border: 2px solid #ee591f; }
.btn-border:hover, .btn-border:focus { background: #ee591f; }

.btn-animate.border { border: 2px solid #ee591f; } 

.btn-animate.border:before, .btn-animate.border:after { background: #ee591f; }
.btn-animate.border:hover, .btn-animate.border:focus { border: 2px solid #ee591f; } 

.btn-animate.border-dark:before, .btn-animate.border-dark:after { background: #ee591f; }
.btn-animate.border-dark:hover, .btn-animate.border-dark:focus { border: 2px solid #ee591f; } 

/*--------------------------------------------------------------
	Navbar
--------------------------------------------------------------*/

@media (max-width: 991px) {
	.navbar-custom .nav li.active a, 
	.navbar-custom .nav li.active a:hover, 
	.navbar-custom .nav li.active a:focus,
	.navbar-custom .nav li a:hover {
		color: #ee591f;
	}
}

/*===================================================================================*/
/*	Woocommerce Header Cart
/*===================================================================================*/

.cart-header > a .cart-total {
	background: #ee591f;
}

/*===================================================================================*/
/*	Main Slider - Owl Carousel
/*===================================================================================*/

.pointer-scroll { background: #ee591f; }

/*===================================================================================*/
/*	OWL SLIDER NEXT - PREV BUTTONS
/*===================================================================================*/

.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
	background: rgba(238, 89, 31, 1);
}

/*===================================================================================*/
/*	Mixed Classes
/*===================================================================================*/

.bg-default { background-color: #ee591f; }
.text-default { color: #ee591f; }
.entry-header .entry-title a:hover  { color: #ee591f; }

/*===================================================================================*/
/*	SERVICE SECTION
/*===================================================================================*/

.services .post:before { border-bottom-color: #ee591f; }
.services .post-thumbnail a { color: #ee591f; }

/*===================================================================================*/
/*	About Section
/*===================================================================================*/

.about-thumbnail img { box-shadow: -40px -40px 0px 0px #ee591f; }
@media (min-width: 768px) and (max-width: 992px) { 
	.about-thumbnail img { box-shadow: -25px -25px 0px 0px #ee591f; }
}
@media (max-width: 768px) {  
	.about-thumbnail img { box-shadow: -15px -15px 0px 0px #ee591f; }
}

/*===================================================================================*/
/*	PORTFOLIO FILTERS
/*===================================================================================*/

.portfolio-filters li.active a:before, 
.portfolio-filters li a:before {
	background-color: #ee591f; 
}

/*===================================================================================*/
/*	Portfolio Section
/*===================================================================================*/

.portfolio .post { background-color: #ee591f; }

/*===================================================================================*/
/*	SHOP & PRODUCT SECTION
/*===================================================================================*/

.product-price > .woocommerce-loop-product__title a:hover, 
.product-price > .woocommerce-loop-product__title a:focus { 
	color: #ee591f; 
}
.products .onsale { background: #ee591f; border: 2px solid #ee591f; }

/*===================================================================================*/
/*	TESTIMONIAL SECTION
/*===================================================================================*/

.testmonial-block .name > a:hover { color: #ee591f; }

/*===================================================================================*/
/*	Subscribe Newsletter
/*===================================================================================*/

.subscribe-form .form-control:focus { border-color: #ee591f; }

/*===================================================================================*/
/*	PRICING SECTION
/*===================================================================================*/

.pricing-title-bg.default { background-color: #ee591f; }
.pricing-plans .price { color: #ee591f; }

/*===================================================================================*/
/*	BLOG META
/*===================================================================================*/

.entry-meta a:hover, .entry-meta a:focus, .item-meta a:hover, .item-meta a:focus { color: #ee591f !important; }
.entry-meta .cat-links a, .entry-meta .tag-links a { color: #ee591f !important; }

/*Paginations*/
.pagination a:hover, .pagination a.active { color: #ee591f; }

/*Blog Author*/
.blog-author img {     
	-webkit-box-shadow: 12px 12px 0px 0px #ee591f;
	-moz-box-shadow: 12px 12px 0px 0px #ee591f;
	box-shadow: 12px 12px 0px 0px #ee591f;
}
.blog-author .small-social-icon li a:hover, 
.blog-author .small-social-icon li a:focus {
    color: #ee591f;
}

/*Comments*/
.reply a {
	background-color: #ee591f;
    border: 1px solid #ee591f;
}
.reply a:hover, .reply a:focus { 
	background-color: #ee591f; 
	border: 1px solid #ee591f;
}

/*===================================================================================*/
/*	Contact Form 7 & Contact Info Section
/*===================================================================================*/

.contact .subtitle { color: #ee591f; }
.contact-icon { background-color: #ee591f; }
.contact-form { border-top: 4px solid #ee591f; }
.contact-widget address > a:hover, .contact-widget address > a:hover { color: #ee591f; }  

/*===================================================================================*/
/*	Instagram Gallery Section
/*===================================================================================*/

.insta-btn a, .insta-btn a:hover, .insta-btn a:focus {
    color: #ee591f;
}

/*===================================================================================*/
/*	PAGE TITLE SECTION 
/*===================================================================================*/

.page-breadcrumb > li a:hover, .page-breadcrumb > li a:focus, .page-breadcrumb > li.active a { color: #ee591f; }

/*===================================================================================*/
/*	Sidebar & Widgets Section
/*===================================================================================*/

.widget a:hover, .widget a:focus,  
.widget .post .entry-title a:hover, .widget .post .entry-title a:focus { color: #ee591f !important; }
.widget .tagcloud a:hover { color: #ee591f !important; }

/*===================================================================================*/
/*	Footer Section
/*===================================================================================*/

@media (min-width: 992px){ .site-footer:before { background-color: #ee591f; } }

/*===================================================================================*/
/*	404 Error Page
/*===================================================================================*/

.error-404 h1 > i { color: #ee591f; }

/*===================================================================================*/
/*	Page Scroll Up
/*===================================================================================*/

.scroll-up a:hover, .scroll-up a:focus { background: #ee591f; }

