/*
Theme Name: Innofit
Author URI: https://wordpress.org/
Theme URI: https://wordpress.org/themes/innofit
Author: SpiceThemes 
Created by: Shahid (Scientech IT)
Copyright (c) 2018 Innofit
Date: Not mentioned
http://www.spicethemes.com
Name: style.css
*/


/*--------------------------------------------------------------
	Common
--------------------------------------------------------------*/

html {
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: scrollbar;
}
html { font-size: 16px; }
@media (min-width: 768px) and (max-width: 991px) {
	html { font-size: 14px; }
}
@media (min-width: 200px) and (max-width: 768px) {
	html { font-size: 12px; }
}

body,
button,
input,
select,
textarea {
	color: #696969;
	font-family: "Work Sans", "Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 1.000rem;
	font-weight: 400;
	line-height: 1.66;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3,
h4, h5, h6 {
	clear: both;
	line-height: 1.3;
	margin: 0 0 1.875rem;
	color: #333;
	font-weight: 700;
}

h1 { font-size: 3.000rem; /* 48px */ }
h2 { font-size: 2.625rem; /* 42px */  }
h3 { font-size: 2.250rem; /* 36px */ }
h4 { font-size: 1.875rem; /* 30px */ }
h5 { font-size: 1.500rem; /* 24px */ }
h6 { font-size: 1.125rem; font-weight: 600; /* 18px */ }

p { margin: 0 0 1.5em; padding: 0; }

dfn, cite, em, i { font-style: italic; }

blockquote {
	font-size: 1.500rem;
	font-style: normal;
	margin: 0 0 25px;
	overflow: hidden;
	padding: 10px 20px;
	quotes: "" "";
	color: #333333;
	font-weight: 600;
	line-height: 1.4;
}

blockquote cite { color: #a5a5a5; font-size: 1.000rem; display: block; font-style: normal; font-weight: 400; margin-top: 0.5em; }

q { quotes: "“" "”" "‘" "’"; }

blockquote:before, blockquote:after { content: ""; }

:focus {
	outline: none;
}

address { margin: 0 0 1.5em; }

pre {
	background: #eee;
	font-size: 1.000rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

hr { background-color: #bbb; border: 0; height: 1px; margin-bottom: 1.5em; }

code, kbd, tt, var { font-size: 1.000rem; }

abbr, acronym { border-bottom: 1px dotted #666; cursor: help; }

mark, ins { background: #eee; text-decoration: none; }

big { font-size: 125%; }

img { max-width: 100%; height: auto; }

iframe { border: 0; }

#wrapper { background-color: #ffffff; margin: 0px auto; }

/*--------------------------------------------------------------
5. Forms
--------------------------------------------------------------*/

label { color: #696969; display: block; font-weight: 800; margin-bottom: 0.5em; }
fieldset { margin-bottom: 1em; }
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #696969;
	background: #fff;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
	border: 1px solid #f3f3f3;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	display: block;
	padding: 0.7em;
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #696969;
	border-color: #333;
}
select {
	border: 1px solid #f3f3f3;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	height: 3em;
	max-width: 100%;
}
input[type="radio"],
input[type="checkbox"] {
	margin-right: 0.5em;
}
input[type="radio"] + label,
input[type="checkbox"] + label {
	font-weight: 400;
}
button,
input[type="button"],
input[type="submit"] {
    border: 0;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.938rem;
    font-weight: 600;
    line-height: 1;
    padding: 16px 35px;
    text-shadow: none;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}
input + button,
input + input[type="button"],
input + input[type="submit"] {
	padding: 0.75em 2em;
}
button.secondary,
input[type="reset"],
input[type="button"].secondary,
input[type="reset"].secondary,
input[type="submit"].secondary {
	background-color: #ddd;
	color: #222;
}
button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background: #333333;
}
button.secondary:hover,
button.secondary:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"].secondary:hover,
input[type="button"].secondary:focus,
input[type="reset"].secondary:hover,
input[type="reset"].secondary:focus,
input[type="submit"].secondary:hover,
input[type="submit"].secondary:focus {
	background: #bbb;
}

/* Placeholder text color */
::-webkit-input-placeholder { color: #696969; }
:-moz-placeholder { color: #696969; }
::-moz-placeholder { color: #696969; }
:-ms-input-placeholder { color: #696969; }

.btn-small, .btn-ex-small { 
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	position: relative;
	letter-spacing: 0;
	border-radius: 50px;
	text-align: center;
	transition: .3s;
	font-weight: 600;
}

.btn-small { min-width: 10rem; font-size: 1.063rem; padding: 11px 38px; }
.btn-ex-small { min-width: 9rem; font-size: 1.000rem; padding: 9px 35px; }

.btn-default { color: #ffffff; border: none; }
.btn-default:hover, .btn-default:focus { background: #ffffff; color: #333333; }

.btn-bg-default { color: #ffffff !important; }

.btn-border { background: #ffffff; color: #333333; }
.btn-border:hover, .btn-border:focus { color: #ffffff; }

.btn-animate { 
	border: none; 
	transform-style: preserve-3d; 
	-webkit-transform-style: preserve-3d; 
	-moz-transform-style: preserve-3d; 
	-ms-transform-style: preserve-3d; 
} 
.btn-animate:before, .btn-animate:after { 
	-ms-transform-origin: center center;
	-webkit-transform-origin: center center;
	transform-origin: center center;

	transform: scale(1,0); 
	-webkit-transform: scale(1,0); 
	-moz-transform: scale(1,0);
	-ms-transform: scale(1,0);
	-o-transform: scale(1,0);
}
.btn-animate:before { 
	z-index: -2; 
	transform: translate3D(0,0,0); 
	-webkit-transform: translate3D(0,0,0); 
	-moz-transform: translate3D(0,0,0); 
	-ms-transform: translate3D(0,0,0); 
	-o-transform: translate3D(0,0,0); 
}
.btn-animate:before, .btn-animate:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;	
	transform: translate3D(0,-100%,0);
	-webkit-transform: translate3D(0,-100%,0);
	-moz-transform: translate3D(0,-100%,0);
	-ms-transform: translate3D(0,-100%,0);
	-o-transform: translate3D(0,-100%,0);
    transition: all .4s;
	
}

.btn-animate.light { color: #ffffff; } 
.btn-animate.light:before { background: #fafcd6; }
.btn-animate.light:before, .btn-animate.light:after { background: #fff;  }
.btn-animate.light:hover, .btn-animate.light:focus { color: #333333; } 

.btn-animate.dark { color: #ffffff; } 
.btn-animate.dark:before { background: #fafcd6; }
.btn-animate.dark:before, .btn-animate.dark:after { background: #333333; }
.btn-animate.dark:hover, .btn-animate.dark:focus { color: #ffffff; } 

.btn-animate.border { background: #fff; color: #333333; } 
.btn-animate.border:before { background: #fafcd6; }
.btn-animate.border:hover, .btn-animate.border:focus { color: #fff; } 

.btn-animate.border-dark { background: transparent; border: 2px solid #333; color: #333333; } 
.btn-animate.border-dark:before { background: #fafcd6; }
.btn-animate.border-dark:hover, .btn-animate.border-dark:focus { color: #fff; } 

.btn-animate:before, .btn-animate:after { 
	-ms-transform-origin: center center;
	-webkit-transform-origin: center center;
	transform-origin: center center;

	transform: scale(1,0);
	-webkit-transform: scale(1,0);
	-moz-transform: scale(1,0);
	-ms-transform: scale(1,0);
	-o-transform: scale(1,0);
}
.btn-animate:hover:before, 
.btn-animate:hover:after { 
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	border-radius: 50px; 
}

.btn-shadow { box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .2); }
.btn-shadow-lg { box-shadow: 0 0px 25px rgba(0, 0, 0, .3); }

@media (max-width: 768px) {
	.btn-small { padding: 9px 32px; }
	.btn-ex-small { padding: 7px 30px; }
}



/*--------------------------------------------------------------
5. Lists
--------------------------------------------------------------*/

ul, ol { margin: 0 0px 1.5em 18px; padding: 0; }
ul { list-style: disc; }
ol { list-style: decimal; }
li > ul, li > ol { margin-bottom: 0; margin-left: 1.5em; }
dt { font-weight: 700; }
dd { margin: 0 1.5em 1.5em; }


/*--------------------------------------------------------------
6. Tables
--------------------------------------------------------------*/

table { border-collapse: collapse; margin: 0 0 1.5em; width: 100%; }
thead th { border-bottom: 2px solid #bbb; padding-bottom: 0.5em; }
th { padding: 0.4em; text-align: left; }
tr { border-bottom: 1px solid #eee; }
td { padding: 0.4em; }
th:first-child, td:first-child { padding-left: 0; }
th:last-child, td:last-child { padding-right: 0; }

/*--------------------------------------------------------------
7. Links
--------------------------------------------------------------*/

a { color: #333333; text-decoration: none !important; transition: 0.3s; }
a:focus { outline: thin dotted; text-decoration: none !important; }
a:hover, a:active { color: #333333; outline: 0; }

/*--------------------------------------------------------------
7. Vertical margin, padding
--------------------------------------------------------------*/

.p-0 { padding: 0 !important; }
.ptop-0 { padding-top: 0 !important; }
.ptop-10 { padding-top: 10px !important; }
.ptop-15 { padding-top: 15px !important; }
.ptop-20 { padding-top: 20px !important; }
.ptop-30 { padding-top: 30px !important; }
.ptop-40 { padding-top: 40px !important; }
.ptop-50 { padding-top: 50px !important; }
.ptop-140 { padding-top: 140px !important; }
.pbottom-0 { padding-bottom: 0 !important; }
.pbottom-5 { padding-bottom: 5px !important; }
.pbottom-10 { padding-bottom: 10px !important; }
.pbottom-20 { padding-bottom: 20px !important; }
.pbottom-30 { padding-bottom: 30px !important; }
.pbottom-40 { padding-bottom: 40px !important; }
.pbottom-50 { padding-bottom: 50px !important; }
.pbottom-140 { padding-bottom: 140px !important; }
.m-0 { margin: 0 !important; }
.mtop-0 { margin-top: 0 !important; }
.mtop-10 { margin-top: 10px !important; }
.mtop-15 { margin-top: 15px !important; }
.mtop-20 { margin-top: 20px !important; }
.mtop-30 { margin-top: 30px !important; }
.mtop-40 { margin-top: 40px !important; }
.mtop-50 { margin-top: 50px !important; }
.mtop-60 { margin-top: 60px !important; }
.mtop-70 { margin-top: 70px !important; }
.mtop-80 { margin-top: 80px !important; }
.mtop-0 { margin-bottom: 0 !important; }
.mbottom-10 { margin-bottom: 10px !important; }
.mbottom-20 { margin-bottom: 20px !important; }
.mbottom-30 { margin-bottom: 30px !important; }
.mbottom-40 { margin-bottom: 40px !important; }
.mbottom-50 { margin-bottom: 50px !important; }
.mbottom-60 { margin-bottom: 60px !important; }
.mbottom-70 { margin-bottom: 70px !important; }
.mbottom-80 { margin-bottom: 80px !important; }
.fullwidth { padding-left: 0px; padding-right: 0px; }

/*--------------------------------------------------------------
	Navbar
--------------------------------------------------------------*/

.navbar-custom .container-fluid {  padding: 0 100px; }
.navbar-custom {
	background-color: rgba(0, 20, 42, 0.9);
	border: 0;
	border-radius: 0;
	z-index: 1000;
	font-family: "Work Sans", sans-serif;
	font-size: 1.000rem;
	transition: background, padding 0.4s ease-in-out 0s;
	margin-bottom: 0;
}
.navbar a { transition: 0.3s ease-in-out; }
.navbar-custom .navbar-brand {
	letter-spacing: 0.25rem;
	font-weight: 600;
	font-size: 2.125rem;
	line-height: 1.45;
	color: #fff;
	min-height: 68px;
	padding: 9px 15px;
}
.navbar-custom .navbar-nav { float: none; margin: 0 auto; display: table; }
.navbar-custom .nav li > a { position: relative; color: #fff; margin: 10px 24px; }
.navbar-custom .nav .dropdown-menu {
	background: rgba(7, 15, 25, 0.9);
	border-radius: 0;
	border: 0;
	padding: 0;
	box-shadow: none;
}
.navbar-custom .nav .dropdown-menu { min-width: 180px; font-size: 0.875rem; }
.navbar-custom .nav .dropdown-menu > li { padding: 0px 15px; margin: 0px; }
.navbar-custom .nav .dropdown-menu > li > a {
	border-bottom: 1px solid rgba(73, 71, 71, 0.15) !important;
	padding: 10px 0px;
	letter-spacing: 1px;
	color: #dbdbdb;
	margin: 0;
}
.navbar-custom .nav .dropdown-menu > li > a:before { display: none; }
.navbar-custom .dropdown-menu .dropdown-menu {
	border-left: 1px solid rgba(73, 71, 71, 0.15);
	left: 100%;
	right: auto;
	top: 0;
	margin-top: 0;
}
.navbar-custom .dropdown-menu.left-side .dropdown-menu {
	border: 0;
	border-right: 1px solid rgba(73, 71, 71, 0.15);
	right: 100%;
	left: auto;
}
.navbar-custom .nav > li > a:focus,
.navbar-custom .nav > li > a:hover,
.navbar-custom .nav .open > a,
.navbar-custom .nav .open > a:focus,
.navbar-custom .nav .open > a:hover,
.navbar-custom .dropdown-menu > li > a:focus,
.navbar-custom .dropdown-menu > li > a:hover {
	background: none;
	color: #fff;
}
.navbar-custom .dropdown-toggle:after {
	position: absolute;
	display: block;
	right: 0;
	top: 50%;
	margin-top: -6px;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 9px;
	content: "\f107";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.navbar-custom .navbar-toggle .icon-bar { background: #fff; }
.header-module { margin: 19px 0; }
@media (min-width: 991px) {
	.navbar-custom .dropdown-menu { position: absolute; display: block; visibility: hidden; opacity: 0; }
	.navbar-custom .open > .dropdown-menu { visibility: visible; opacity: 1; }
	.navbar-custom .dropdown-menu .dropdown-toggle:after {
		position: absolute;    
		display: block;
		right: 0px;
		top: 50%;
		margin-top: -6px;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: 0.938rem;
		content: "\f105";
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.navbar-right .dropdown-menu { right: auto; left: 0; }
}


/*--------------------------------------------------------------
	Responsive Styles - Media Queries
--------------------------------------------------------------*/

@media only screen and (max-width: 768px) and (min-width: 100px) { 
	.navbar-transparent {
		padding-bottom: 0px !important;
		padding-top: 0px !important;
	}
}
@media (min-width: 200px) {
	.navbar-custom .nav li > a {
		padding: 0 0 3px;
		/* margin: 24px; */
	}
	.navbar-transparent {
		background: transparent !important;
		padding-bottom: 15px;
		padding-top: 15px;
	}
}
.mobile-header { display: none; }

@media (max-width: 991px) {
	.desktop-header { display: none !important; }
	.mobile-header { display: block !important; }
	.navbar-custom .container-fluid {  padding: 0 50px; }
	.navbar-custom { background-color: rgba(0, 20, 42, 1); }
	.navbar-header { float: none; }
	.navbar-custom .navbar-brand { padding-top: 6px; padding-bottom: 6px; }
	.navbar-toggle { display: block; margin-top: 10px; margin-bottom: 10px; margin-right: 0; padding-right: 0; }
	.navbar-toggle:hover, .navbar-toggle:focus { background: transparent; }
	.navbar-toggle .icon-bar { width: 40px; height: 2px; }
	.navbar-toggle .icon-bar + .icon-bar { margin-top: 8px; }
	/*Collapsing*/
	.navbar-fixed-top .navbar-collapse { max-height: none; }
	.navbar-collapse { border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
	.navbar-collapse.collapse { display: none !important; }
	.navbar-custom .navbar-nav { margin: 0px; display: block; float: none !important; }
	.navbar-custom .navbar-nav > li { float: none; }
	.navbar-collapse.collapse.in { display: block !important; }
	.collapsing { overflow: hidden!important; }
	.navbar-collapse, .navbar-collapse.collapse.in { background-color: #00142b; padding-right: 0px; padding-left: 0px; }  
	/*Menu*/
	.navbar-custom li > a { 
		margin-left: 0rem !important; 
		margin-right: 0rem !important; 
		margin-top: 24px !important;
		margin-bottom: 24px !important;
	}
	.navbar-custom.navbar-transparent li > a { 
		margin-left: 1.500rem !important; 
		margin-right: 1.500rem !important; 
	}
	.navbar-custom .nav li.active a:before, 
	.navbar-custom .nav li a:hover:before {
		display: none;
	}
	/*Dropdown Menu*/
	.navbar-custom .navbar-nav .dropdown-menu > li > a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		white-space: nowrap;
	}
	.navbar-custom .navbar-nav .dropdown-menu > li > a:hover, 
	.navbar-custom .navbar-nav .dropdown-menu > li > a:focus	{
		color: #fff;
	}
	.navbar-custom .navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-custom .navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}
	.navbar-custom .navbar-nav .open .dropdown-menu .dropdown-header,
	.navbar-custom .navbar-nav .open .dropdown-menu > li > a {
		padding: 12px 0px;
		margin-bottom: 0px !important;
		margin-top: 0px !important;
	}
	.navbar-custom .dropdown-search {
		border-bottom: 1px solid rgba(73, 71, 71, 0.30) !important;
	}
	.navbar-custom .dropdown-toggle:after,
	.navbar-custom .dropdown-menu .dropdown-toggle:after {
		right: 0px;
		content: "\f107";
	}
	.navbar-custom .nav > .open > .dropdown-toggle:after,
	.navbar-custom .dropdown-menu .dropdown.open .dropdown-toggle:after {
		right: 0px;
		content: "\f106";
	}
	/*Header Module*/
	.navbar-custom.navbar-transparent .header-module {
		margin-left: 1.500rem !important;
		margin-right: 1.500rem !important;
	}
	.header-module { margin-left: 0rem; margin-right: 0rem; margin-top: 0rem; }
}
@media (max-width: 768px) {
	.navbar-custom .container-fluid {  padding: 0 15px; }	
	.navbar-toggle { margin-right: 15px; }
	.navbar-custom li > a,
	.navbar-custom.navbar-transparent li > a { 
		margin-left: 0.938rem !important; 
		margin-right: 0.938rem !important; 
	}
	/*Header Module*/
	.header-module { margin-left: 0.938rem; margin-right: 0.938rem; }
}	

/*--------------------------------------------------------------
	Navbar For Boxed Layout
--------------------------------------------------------------*/

body.boxed .navbar-custom .container-fluid { padding: 0 15px; }
@media (min-width: 992px) { body.boxed .navbar-custom .container-fluid { width: 970px; } }
@media (min-width: 1200px) { body.boxed .navbar-custom .container-fluid { width: 1170px; } }


/*--------------------------------------------------------------
	Header Social Icons
--------------------------------------------------------------*/

.header-social-icon {
    border-right: 1px solid rgba(255, 255, 255, 0.40);
    padding-right: 25px;
    margin-right: 25px;
    display: inline-block;
    line-height: 16px;
    position: relative;
    top: 0px;
}
.small-social-icon {  margin: 0;
	list-style: none;
    padding: 0;
}
.small-social-icon li {
	margin: 0 0 0 10px;
    display: inline-block;
	line-height: 14px;
}
.small-social-icon li a {
	text-align: center;
	width: auto;
	height: auto;
	font-size: 1.000rem;
	line-height: 16px;
	color: #fff;
}
.header-social-icon .small-social-icon li:first-child { margin-left: 0px; }
.small-social-icon li a:hover, 
.small-social-icon li a:focus {
	color: #2583ec;
}
@media (max-width: 991px) { 
	.navbar-custom .small-social-icon li a { 
		margin-left: 0 !important; 
		margin-right: 0 !important; 
	}
}
.navbar-custom + .main {
  margin-top: 50px;
}

/*===================================================================================*/
/*	Woocommerce Header Cart
/*===================================================================================*/

.cart-header {
	line-height: 1;
    position: relative;
    margin-right: 15px;
    background: transparent;
    border-radius: 50%;
    display: inline-block;
}
.cart-header > a.cart-icon {
    -wekbit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: inline-block;
    font-size: 1.125rem;
    line-height: 1.3;
    color: #fff;
    padding: 0;
}
.cart-header > a .cart-total {
    font-family: 'Open Sans', Sans-serif;
    font-size: 0.688rem;
	line-height: 1.5;
    color: #ffffff;
	text-align: center;
	font-weight: 600;
    position: absolute;
	right: -15px;
    top: -7px;
	padding: 1px;
    width: 1.125rem;
    height: 1.125rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
	-wekbit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


/*===================================================================================*/
/*	Slider - Video Static
/*===================================================================================*/

/* Video Background*/
.video-controls-box {
  position: absolute !important;
  bottom: 40px;
  left: 0;
  width: 100%;
  z-index: 1;
}
.video-controls-box a {
  display: inline-block;
  color: #fff;
  margin: 0 5px 0 0;
}

/*Video With Upload*/
.videoContainer {
    position:absolute;
	top: 0; 
	left: 0;
    height:100%;
    width:100%;
    overflow: hidden;
}
.videoContainer video {
    /* min-width: 100%; */
    /* min-height: 100%; */
	height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}


/*===================================================================================*/
/*	Main Slider - Owl Carousel
/*===================================================================================*/

.main-slider { position: relative; }
.main-slider .overlay, .video-slider .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}
#slider-carousel { margin: 0px; }
#slider-carousel .item {
    position: relative;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    z-index: 0;
    background-size: cover;
}
.home-section {
	position: relative;
	background-color: #333;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	z-index: 1;
	background-size: cover;
}
.slider-caption { position: relative; display: table; height: 100%; z-index: 1; }
.caption-content { display: table-cell; vertical-align: middle; text-align: center; }
.slider-caption .title { font-size: 5.000rem; line-height: 1.3; color: #ffffff; text-shadow: 0px 3px 3px rgba(0, 0, 0, .3); }
.slider-caption .subtitle { color: #ffffff; letter-spacing: 0.125rem; font-weight: 600; margin-bottom: 1.250rem; text-shadow: 0px 3px 3px rgba(0, 0, 0, .3); }
@media only screen and (max-width: 600px) { 
.slider-caption .title { font-size: 3.000rem; margin: 0 0 1.000rem; } 
.slider-caption .subtitle { font-size: 1.250rem; letter-spacing: 0.700rem; margin-bottom: 1.000rem; }
.slider-caption .ptop-15 { padding-top: 5px !important; }
}

/*Slider Pointer*/
.pointer-scroll {
	position: absolute;
	font-family: 'fontAwesome';
	content: '\f103';
	bottom: -33px;
	left: 0;
	right: 0;
	border: 2px solid #ffffff;
	color: #fff;
	z-index: 2;
	text-align: center;
	font-size: 1.700rem;
	line-height: 2;
	display: block;
	width: 66px;
	height: 66px;
	margin: 0px auto;
	border-radius: 50%;
	-webkit-animation: intro 2s;
	animation: intro 2s;
}
.pointer-scroll:hover, .pointer-scroll:focus { color: #fff; }
@media (max-width: 767px) {
	.pointer-scroll { bottom: -25px; width: 50px; height: 50px; font-size: 1.350rem; }
}
.pointer-scroll .scroll { 
	-webkit-animation: finger 1s infinite;
	animation: finger 1s infinite;
}
@-webkit-keyframes intro {
  0% {
    opacity: 1;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes intro {
  0% {
    opacity: 1;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes finger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
@keyframes finger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}


/*===================================================================================*/
/*	OWL SLIDER NEXT - PREV BUTTONS
/*===================================================================================*/

.owl-carousel .owl-prev, .owl-carousel .owl-next { 
	display: inline-block;
	background-color: transparent; 
	color: #fff; 
	font-size: 4.250rem; 
	line-height: 2;  
	padding: 0 !important;
	margin: 0px;
	-moz-border-radius: 0px; 
	-webkit-border-radius: 0px; 
	border-radius: 0px;
	position: absolute;
    top: 50%;
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	width: 40px;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
	text-align: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.owl-carousel .owl-prev { left: 15px; opacity: 0; }
.owl-carousel .owl-next { right: 15px; opacity: 0; }
.owl-carousel:hover .owl-prev { background-color: transparent; left: 35px; opacity: 1; }
.owl-carousel:hover .owl-next { background-color: transparent; right: 35px; opacity: 1; }
.owl-carousel .owl-prev i, .owl-carousel .owl-next i { text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7); }
@media only screen and (max-width: 992px) {
	.owl-carousel .owl-prev, .owl-carousel .owl-next { font-size: 3.500rem; }
	.owl-carousel .owl-prev { left: 0px; }
	.owl-carousel .owl-next { right: 0px; }
	.owl-carousel:hover .owl-prev { left: 15px; }
	.owl-carousel:hover .owl-next { right: 15px; }
}
@media only screen and (max-width: 767px) {
	.owl-carousel .owl-prev, .owl-carousel .owl-next { font-size: 2.500rem; width: 20px; }
	.owl-carousel .owl-prev { left: 10px; }
	.owl-carousel .owl-next { right: 10px; }
	.owl-carousel:hover .owl-prev { left: 10px; }
	.owl-carousel:hover .owl-next { right: 10px; }
}

/*Testimonial Next-Prev*/
.testimonial .owl-carousel .owl-prev, .testimonial .owl-carousel .owl-next { 
	background-color: #ffffff !important;
    color: #000;
    font-size: 2.120rem;
    line-height: 1.4;
    width: 50px;
    height: 50px; 
	top: -21.5%;
	opacity: 1;
}
.testimonial .owl-carousel .owl-prev { right: 68px; left: unset; }
.testimonial .owl-carousel .owl-next { right: 15px; }
.testimonial .owl-carousel .owl-prev:hover, 
.testimonial .owl-carousel .owl-next:hover { 
	background-color: #fafafa !important;
    color: #000;
}
.testimonial .owl-carousel .owl-prev i, 
.testimonial .owl-carousel .owl-next i { 
	text-shadow: none; 
}
@media (min-width: 768px) {
	.testimonial .owl-carousel .owl-dots { 
		display: none; 
	}
}
@media (max-width: 768px) {
	.testimonial .owl-carousel .owl-prev, 
	.testimonial .owl-carousel .owl-next { 
		display: none; 
	}
}


/*===================================================================================*/
/*	SECTION HEADER
/*===================================================================================*/

.section-header { margin: -4px 0 45px; padding: 0; position: relative; text-align: center; }
.section-header .section-title { margin-top: 0.313rem; margin-bottom: 0; }
.section-header .section-subtitle { margin: 0px; font-size: 1.125rem; font-weight: 500; color: #696969; }
@media (min-width: 768px) { .section-header.text-left { text-align: left; width: 80%; } }
hr.divider { border-top: none; width: 70px; height: 2px; margin: 15px auto 21px; }


/*===================================================================================*/
/*	Mixed Classes
/*===================================================================================*/

.bg-grey { background-color: #fafafa !important; }
.text-white { color: #ffffff !important; }
.v-center {
    padding: 0px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}
@media (max-width: 992px) { .v-center { display: block; } }


/*===================================================================================*/
/*	Section Module
/*===================================================================================*/

.section-module { position: relative; padding: 110px 0 60px; }
@media only screen and (max-width: 600px) { 
	.section-module { padding: 80px 0 30px; }
	.funfact-inner { margin: 0 0 30px !important; padding: 15px !important; }
	.testimonial-wrapper { padding: 80px 0 90px !important; min-height: 400px !important; }
	.testimonial { padding: 0px 0 25px !important; }
	.call-to-action, .call-to-action-one { padding: 80px 0 80px !important; }
	.pricing { padding-top: 80px !important; }
	.subscribe-newsletter { padding: 75px 0 80px !important; }
	.sponsors { padding: 70px 0 !important; }
	.footer-sidebar { padding: 70px 0 20px !important; }
	.site-branding.pbottom-50 { padding-bottom: 30px !important; }
}


/*===================================================================================*/
/*	SERVICE SECTION
/*===================================================================================*/

.services { background-color: #ffffff; background: url("../images/map.jpg") left top/510px no-repeat fixed; }
.services .post { background-color: transparent; margin: 0 0 15px; padding: 30px 20px 30px; border-radius: 3px; transition: 0.3s;  }
.services .post:hover { 
	background-color: #fff;
	-webkit-transform: translateY(-7px);
	-ms-transform: translateY(-7px);
	transform: translateY(-7px);
	-webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
}
.services .post:before, .services .post:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: inline-block;
	opacity: 0;
	transition: opacity 0.60s, -webkit-transform 0.60s;
	transition: opacity 0.60s, transform 0.60s;
	transition: opacity 0.60s, transform 0.60s, -webkit-transform 0.60s;
	z-index: 0;
	border-radius: 3px;
}
.services .post:before {
	border-top-color: #f3f3f3;
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	-webkit-transform: scale(0, 1);
	-ms-transform: scale(0, 1);
	transform: scale(0, 1);
}
.services .post:after {
	border-left-color: #f3f3f3;
	border-right-color: #f3f3f3;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
	-webkit-transform: scale(1, 0);
	-ms-transform: scale(1, 0);
	transform: scale(1, 0);
}
.services .post:hover:after, 
.services .post:hover:before {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.services .post-thumbnail { 
    position: relative;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    text-align: center;
    margin: 0 auto 1.875rem;
}
.services .post-thumbnail img { border-radius: 2px; }
.services .post-thumbnail a { position: relative; z-index: 1; }
.services .post-thumbnail i.fa { 
	background: #f6f6f6;
    border-radius: 50%;
    width: 6.75rem;
    height: 6.25rem;	
	font-size: 5.250rem;
	line-height: 1.095;
	padding: 5px; 
	position: relative; 
	text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000; 
}
.services .entry-header { display: block; margin: 0 0 15px; padding: 0; }
.services .entry-header .entry-title { margin: 0; font-weight: 600; }
.services .entry-header .entry-title a { position: relative; z-index: 1; }
.services p { margin: 0; }
.services .col-md-4:nth-child(3n+1){ clear:left; }
@media (min-width: 768px) and (max-width: 992px) {
	.services .col-md-4:nth-child(3n+1) { clear: none; }
	.services .col-sm-6:nth-child(2n+1) { clear:left; }	
}


/*===================================================================================*/
/*	About Section
/*===================================================================================*/

@media (min-width: 1200px){
	.about.left-right-half { 
		background: url("../images/bg-left.jpg") left center/190px no-repeat scroll, url("../images/bg-right.jpg") right center/240px no-repeat scroll;
	}
}
.about-thumbnail { margin-top: 40px; margin-left: 40px; }
.about-content { padding-left: 100px; }
@media (min-width: 768px) and (max-width: 992px) { 
	.about-thumbnail { margin-top: 25px; margin-left: 25px; }
	.about-content { padding-left: 30px; } 
}
@media (max-width: 768px) {  
	.about-thumbnail { margin-top: 15px; margin-left: 15px; }
	.about-content { padding-left: 0px; } 
}
.about-content .entry-subtitle { margin: 0 0 5px; font-weight: 700; }
.about-content .entry-title { margin: 0 0 18px; }

/*===================================================================================*/
/*	PORTFOLIO FILTERS
/*===================================================================================*/

.portfolio-filters { text-align: center; margin: 0 0 40px; padding: 0; }
.portfolio-filters li { display: inline-block; position: relative; margin: 0px 20px 5px; }
.portfolio-filters li a {
	background: transparent; 
	color: #333333;
    display: inline-block;
    text-decoration: none;
	font-weight: 600;
    padding: 0px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
	position: relative;
}
.portfolio-filters li.active > a, 
.portfolio-filters li > a:hover { background: transparent; color: #121212; }
.portfolio-filters li.active a:before, 
.portfolio-filters li a:before {
	position: absolute;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.portfolio-filters li.active a:before, 
.portfolio-filters li a:before {
	top: unset;
	bottom: 0;
	display: block;
	height: 2px;
	width: 0%;
	content: "";
}
.portfolio-filters li.active a:before, 
.portfolio-filters li a:hover:before {
	opacity: 1;
	width: 100%;
}
@media (max-width: 768px) { .portfolio-filters li { margin: 0px 10px 5px; } }
	
/*===================================================================================*/
/*	Portfolio Section
/*===================================================================================*/

.portfolio .post { position: relative; overflow: hidden; margin: 0px 0 30px; width: 100%; text-align: left; }
.portfolio .post *,
.portfolio .post *:before,
.portfolio .post *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.20s linear;
	transition: all 0.20s linear;
}
.portfolio .post figcaption {
	position: absolute;
	bottom: 0%;
	width: 100%;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	padding: 15px 30px 25px;
	background-color: transparent;	
	-webkit-transition: 0.4s; 
	transition: 0.4s;
	z-index: 1;
}
.portfolio .post .entry-title a { color: #fff; }
.portfolio .post .entry-title a:hover { color: #fafafa; }
.portfolio .post .entry-title, .portfolio .post p { color: #fff; margin: 0; padding: 0; }
.portfolio .post .entry-title { font-weight: 500; font-size: 1.375rem; line-height: 1.3; margin: 0 0 3px; }
.portfolio .post i {
	background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    position: absolute;
    font-size: 2rem;
    line-height: 0.85;
    width: 1.875rem;
	height: 1.875rem;
    top: 25px;
    right: 25px;
    text-align: center;
    -webkit-transform: translateY(-55px);
    transform: translateY(-55px);
	-webkit-transition: 0.3s; transition: 0.3s;
	font-style: normal;
	z-index: 1;
}
.portfolio .post i:hover { background-color: #fff; color: #121212; border: 1px solid #fff; }
.portfolio .post:hover img {
	zoom: 1;
	filter: alpha(opacity=20);
	-webkit-opacity: 0.2;
	opacity: 0.2;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}
.portfolio .post:hover figcaption,
.portfolio .post:hover .entry-title,
.portfolio .post:hover p, 
.portfolio .post:hover i {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	-moz-transform: translateY(0);
	opacity: 1;
}
.portfolio .post::before, 
.portfolio .post::after {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.60s, -webkit-transform 0.60s;
    transition: opacity 0.60s, transform 0.60s;
}
.portfolio .post::before {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}
.portfolio .post::after {
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}
.portfolio .post:hover::before,
.portfolio .post:hover::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}	

	
/*===================================================================================*/
/*	FUNFACT SECTION
/*===================================================================================*/

.funfact { position: relative; }
.funfact-inner { 
	cursor: pointer; 
	margin: 0 0 50px; 
	border: 5px solid transparent; 
	padding: 30px; 
	-webkit-transition: -webkit-transform 0.5 s ease;
	-moz-transition: -moz-transform 0.5s ease;
	transition: 0.5s ease all;
}
.funfact-inner:hover { 
	border: 5px solid rgba(255, 255, 255, 0.7);     
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.4); 
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.4); 
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-o-transform: scale(1.03);
	transform: scale(1.03);
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-o-transform-origin: center center;
	transform-origin: center center;
} 
.funfact-icon { color: rgba(255, 255, 255, 0.7); font-size: 2.250rem !important; margin-bottom: 20px; transition: 0.3s; }
.funfact-title { margin-bottom: 7px; color: #ffffff; }
.funfact-inner .description { color: #fff; font-size: 1.125rem; margin: 0; }
@media (max-width: 768px) { .funfact-inner:hover { transform: scale(1); } }


/*===================================================================================*/
/*	SHOP & PRODUCT SECTION
/*===================================================================================*/

.shop .container { overflow: hidden; }
.shop .owl-carousel .owl-stage-outer { overflow: visible; }
.products {
    text-align: center;
    background-color: #fff;
    padding: 0;
    margin: 0px 0 50px;
    transition: 0.3s;
    position: relative;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.item-img { width: 100%; position: relative; }
.add-to-cart {
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
	background: transparent padding-box content-box;
	padding: 0 40px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	transform: translateY(100%);
	z-index: 0;
}
.products:hover .add-to-cart { opacity: 1; visibility: visible; transform: translateY(0); }
.add-to-cart a {
	display: inline-block;
	font-size: 1.000rem;
	color: #fff;
	text-align: center;
	line-height: 2;
	padding: 5px;
	background-color: rgba(70, 70, 70, 1);
    font-weight: 600;
	border-radius: 50%;
	width: 2.5rem;
	height: 2.5rem;	
	margin: 0 3px;
}
.add-to-cart a:hover { background-color: rgba(70, 70, 70, 0.8); }
.add-to-cart a i { color: #fff; }
.product-price { padding: 20px 0 18px; }
.product-price > .woocommerce-loop-product__title { font-size: 1.250rem; text-transform: capitalize; margin-bottom: 5px; font-weight: 600; }
.product-price > .woocommerce-loop-product__title a { color: #333333; transition: 0.3s; } 
.product-price .woocommerce-Price-amount { color: #696969; font-size: 1.125rem; font-weight: 600; }
.product-price del { padding-right: 5px; }
.product-price del, .product-price del > span { color: #c0c0c0 !important; }
.products .onsale {
    color: #ffffff;
    border-radius: 0;
    font-size: 0.938rem;
    line-height: 1;
	font-weight: 500;
    padding: 3px 7px;
    margin: 0;
    position: absolute;
    left: 20px;
    top: 20px;
    transition: all 0.3s;
}
.products .onsale:hover, .products .onsale:focus {
	background: #333333;
    border: 2px solid #333333;
}


/*===================================================================================*/
/*	TESTIMONIAL SECTION
/*===================================================================================*/

.testimonial-wrapper {
	position: relative;
	width: 100%;
	min-height: 450px;
	background: url("../images/testimonial-bg.jpg") center center no-repeat;
	background-size: cover;
	padding: 100px 0 110px;
}
.testimonial-wrapper:before {
	content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    background-color: rgba(0, 11, 24, 0.8);
}
.testimonial { 
	height: 100%; 
	width: 100%;
	margin-top: -210px;
	padding: 0px 0 50px; 
	position: relative;
	background-color: transparent;
}
.testmonial-block { 
	background-color: #ffffff;
	border-left: none;
	position: relative; 
	margin: 0px 0 50px; 
	padding: 50px 30px 50px; 
	border-left: none; 
	font-style: normal;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1); 
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1); 
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);		
	border: 1px solid #eee;
	font-size: 1.125rem;
    color: #696969;
    font-weight: 400;
}
.testmonial-block:hover { 
	-webkit-box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.1); 
	-moz-box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.1); 
	box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.1);
	-webkit-transform: translateY(-7px);
	-ms-transform: translateY(-7px);
	transform: translateY(-7px);
}

.description-box { background-color: #ffffff; border-radius: 0px; margin: 0 0 35px; padding: 30px; position: relative; min-height: 182px; }
.testmonial-block .avatar { margin: 0px auto 30px; width: 100px; height: auto;  }
.testmonial-block .description { margin: 0 0 24px; }

.testmonial-block .name { color: #333333; font-size: 1.125rem; margin: 0px 0 -5px; font-weight: 600; }
.testmonial-block .name > a { color: #333333; }

.testmonial-block .designation { color: #9d9d9d; font-size: 0.875rem; padding-left: 7px; font-weight: 500; }
.testmonial-block .designation::before { content: "/"; padding-right: 7px; }

.star-rating { overflow: hidden; position: relative; font-weight: 400; margin: 0 auto 25px; }
.star-rating .fa { font-size: 0.938rem; color: #c1c1c1; }
.star-rating .checked { color: #ffd203; }


/*===================================================================================*/
/*	Subscribe Newsletter
/*===================================================================================*/

.subscribe-newsletter {
	position: relative;
	width: 100%;
	background: url("../images/subscribe-bg.jpg") center center no-repeat;
	background-size: cover;
	padding: 100px 0 110px;
	background-attachment: fixed;
}
.subscribe-newsletter:before {
	content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    background-color: rgba(0, 11, 24, 0.8);
}
.subscribe-form { width: 80%; margin: 0 auto; }
@media (min-width: 600px) { .subscribe-form { width: 50%; margin: 0 auto; } }
.subscribe-form .form-control { font-size: 0.938rem; height: 50px; padding: 10px 15px; }
.subscribe-form .input-group-btn button.btn { height: 50px; font-size: 0.938rem; padding: 10px 20px; }


/*===================================================================================*/
/*	TEAM MEMBERS SECTION
/*===================================================================================*/

/* .section-module.team-members { padding-bottom: 0; } */
/* .team-grid { text-align: center; position: relative; overflow: hidden; } */
/* .team-grid .details { */
  /* width: 100%; */
  /* padding-bottom: 10px; */
  /* position: absolute; */
  /* left: 0; */
  /* bottom: -270px; */
  /* min-height: 345px; */
 /* -webkit-transition: all 0.3s; */
  /* -moz-transition: all 0.3s; */
  /* -o-transition: all 0.3s; */
  /* -ms-transition: all 0.3s; */
  /* transition: all 0.3s; */
/* } */
/* .team-grid .details:after { */
  /* content: ""; */
  /* background: url("../images/shadow-gradiant.png") center center/cover no-repeat; */
  /* width: 100%; */
  /* height: 100%; */
  /* position: absolute; */
  /* left: 0; */
  /* top: -20px; */
  /* opacity: 1; */
  /* -webkit-transition: all 0.3s; */
  /* -moz-transition: all 0.3s; */
  /* -o-transition: all 0.3s; */
  /* -ms-transition: all 0.3s; */
  /* transition: all 0.3s; */
/* } */
/* .team-grid:hover .details { bottom: -225px; } */
/* .team-grid:hover .details:after { opacity: 1; } */
/* .team-grid .details .name, */
/* .team-grid .details .position, */
/* .team-grid .details a { */
  /* color: #fff; */
/* } */
/* .team-grid .details .name { margin: 0 0 9px; font-weight: 500; z-index: 10; position: relative; } */
/* .team-grid .details .position { font-size: 0.938rem; display: block; margin: 0; z-index: 10; position: relative; } */
/* .team-grid .social-links { margin-top: 20px; display: inline-block; position: relative; z-index: 10; list-style: none; } */
/* .team-grid .social-links li { float: left; margin-right: 20px; } */
/* .team-grid .social-links li:last-child { margin-right: 0; } */
/* .team-grid .social-links li a:hover,  */
/* .team-grid .social-links li a:focus { */
	/* color: #2583ec; */
/* } */
/* @media (min-width: 550px) and (max-width: 768px) {  */
	/* .team-grid .details { bottom: -360px; min-height: 435px; } */
	/* .team-grid:hover .details { bottom: -315px; } */
/* } */



.section-module.team-members { padding-bottom: 0; }
.team-grid { text-align: center; position: relative; overflow: hidden; }
.team-grid .details {
	width: 100%;
	padding-bottom: 10px;
	position: absolute;
	left: 0;
	bottom: -270px;
	min-height: 345px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.team-grid .details:after {
	content: "";
	background: url("../images/shadow-gradiant.png") center center/cover no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: -20px;
	opacity: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.team-grid:hover .details { bottom: -225px; }
.team-grid:hover .details:after { opacity: 1; }
.team-grid .details .name,
.team-grid .details .position,
.team-grid .details a {
	color: #fff;
}
.team-grid .details .name { margin: 0 0 9px; font-weight: 500; z-index: 10; position: relative; }
.team-grid .details .position { font-size: 0.938rem; display: block; margin: 0; z-index: 10; position: relative; }
.team-grid .social-links { margin-top: 20px; display: inline-block; position: relative; z-index: 10; list-style: none; }
.team-grid .social-links li { float: left; margin-right: 20px; }
.team-grid .social-links li:last-child { margin-right: 0; }
.team-grid .social-links li a:hover, 
.team-grid .social-links li a:focus {
	color: #2583ec;
}
@media (min-width: 768px) and (max-width: 992px) { 
	.team-grid .details { bottom: -370px; min-height: 435px; }
	.team-grid:hover .details { bottom: -315px; }
}

@media (min-width: 200px) and (max-width: 768px) { 
	.team-grid .details { bottom: -380px; min-height: 435px; }
	.team-grid:hover .details { bottom: -315px; }
}

/*===================================================================================*/
/*	PRICING SECTION
/*===================================================================================*/

.pricing { padding: 110px 0 0px; }	
.m-top-53 { margin-top: 53px; }
@media (max-width: 992px) {
	.pricing { padding-bottom: 30px; }	
	.m-top-53 { margin-top: 0px; }
}
.pricing-style-1 { 
	overflow: hidden;
	background-color: #ffffff;
	margin-bottom: 50px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
}
.pricing-style-1:hover { 
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
}

.pricing-title-bg { padding: 25px; background-color: #fafafa; }
.pricing-title { font-size: 1.375rem; font-weight: 600; text-align: center; margin: 0; }
.pricing-details { padding: 35px 20px; }
.pricing-plans { padding: 0px; text-align: center; margin: 0 0 25px; }
.pricing-plans .price {
	font-weight: 700;
	font-size: 3.75rem;
	position: relative;
	display: inline-block;
	margin: 0;
}
.pricing-plans .price .currency {
	position: absolute;
    display: block;
    left: -22px;
    top: 15px;
    font-size: 1.500rem;
    margin-right: 5px;
	color: #333333;
}
.pricing-plans .price > small { 
	font-size: 1.125rem;
	font-weight: 600;
	color: #696969;
	padding-left: 7px;
}
.price-list-style {
    list-style: none;
    margin: 0;
    padding: 0;
	text-align: center;
}
.price-list-style li {
    position: relative;
    padding: 0 0 13px 0;
    margin: 0 0 13px 0;
    border-bottom: 1px solid #f3f3f3;
	font-weight: 500;
}
.price-list-style li:last-child {
    border-bottom: none;
}
.price-list-style li:before {
    content: "";
}


/*===================================================================================*/
/*	CALL TO ACTION SECTION
/*===================================================================================*/

.call-to-action, .call-to-action-one { padding: 100px 0 100px; }
.call-to-action-one .title { margin: 0 0 10px; }
.call-to-action .title { font-weight: 600; margin: 0 0 5px; }
.call-to-action p, .call-to-action-one p { margin: 0px; }
@media (min-width: 992px) { 
	.call-to-action { padding: 190px 0 100px; }
	.mtop-space-150 { margin-top: -150px; }
}
@media (max-width: 768px) { 
	.call-to-action, .call-to-action-one { text-align: center; }
	.call-to-action .text-left, .call-to-action .text-right, 
	.call-to-action-one .text-left, .call-to-action-one .text-right { 
		text-align: center; 
	}
	.call-to-action .ptop-15, .call-to-action-one .ptop-15 { padding-top: 40px !important; }
}


/*===================================================================================*/
/*	BLOG SECTION 
/*===================================================================================*/

.blog .container-fluid { margin-left: 15px; margin-right: 15px; overflow: hidden; }
.blog .owl-carousel .owl-stage-outer { overflow: visible !important; }

.blog { margin: 0; width: 100%; }
.blog .post { 
	background-color: #ffffff;
	margin: 0 0 50px; 
	padding: 0; 
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	-webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
}
.blog .post:hover {
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
}
.blog .post a { text-decoration: none; } 
.blog .post p:last-child { margin: 0; } 
.post-content { padding: 25px 30px 30px; }
.post-content > hr { background-color: #f3f3f3; margin-top: 40px; margin-bottom: 20px; }
.blog .post-thumbnail { position: relative; overflow: hidden; margin: 0; }
.blog .post-thumbnail img { transition: all 300ms ease-out 0s; width: 100%; opacity: 1; }
.blog .post .entry-header { margin: 0 0 15px; }
.blog .post .entry-header .entry-title { color: #333333; line-height: 1.3; font-weight: 700; margin: 0; }
.entry-header .entry-title > a { color: #333333; text-decoration: none; transition: all 0.3s ease 0s; }

.blog .col-md-4:nth-child(3n+1){ clear:left; }
@media (min-width: 768px) and (max-width: 992px) {
	.blog .col-md-4:nth-child(3n+1) { clear: none; }
	.blog .col-sm-6:nth-child(2n+1) { clear:left; }	
}

/*Blog List View*/
@media (min-width: 768px) {
	.blog.list-view .post-thumbnail { 
		width: 21.25rem;
		height: auto;
		float: left;
	}
}
.blog.list-view hr {
    background-color: #f3f3f3;
}

/*===================================================================================*/
/*	BLOG META
/*===================================================================================*/

.entry-meta { color: #a5a5a5; font-weight: 500; font-size: 0.938rem; margin: 0 0 15px; width: 100%; overflow: hidden; }
.entry-meta > span { color: #a5a5a5; margin: 0px 15px 0px 0px; }
.entry-meta a { color: #a5a5a5; padding: 0; display: inline-block; transition: 0.3s ease-in-out; }
@media only screen and (max-width: 600px) { .entry-meta > span { margin: 0px 5px; } }
/*Meta Date*/
.entry-meta .entry-date a { color: #333333; }
/*Meta Category*/
.entry-meta .cat-links a:hover, .entry-meta .cat-links a:focus, 
.entry-meta .tag-links a:hover, .entry-meta .tag-links a:focus { color: #333333; }
.entry-meta .cat-links a:after, .entry-meta .tag-links a:after { content: ','; padding-left: 1px; Padding-right: 5px; }
.entry-meta .cat-links a:last-child::after, .entry-meta .tag-links a:last-child::after { display: none; }
/*Meta Comments*/
.entry-meta .cat-links::before, 
.entry-meta .tag-links::before, 
.entry-meta .entry-date::before { 
	font-family: FontAwesome; 
	margin-right: 7px; 
	margin-left: 1px; 
	color: #ababab; 
}
.entry-meta .entry-date::before { content: "\f073"; }
.entry-meta .cat-links::before { content: "\f115"; }
.entry-meta .tag-links::before { content: "\f02c"; }
.entry-meta .comment-links a::before { content: "\f075"; font-family: FontAwesome; margin-right: 7px; margin-left: 1px; color: #a5a5a5; }
/*Meta Date & Avatar*/
.item-meta { font-size: 0.938rem; line-height: 1.4; font-weight: 500; overflow: hidden; }
.item-meta .avatar { 
    display: block;
    float: left;
    width: 30px;
    height: auto;
    margin: 0px 15px 0 0px;
    border-radius: 100%;
}
.item-meta .avatar img { 
    border-radius: 100%;
	width: 30px;
	max-width: unset;
}
.item-meta a { color: #a5a5a5; transition: 0.3s ease-in-out; }
/*Meta - Social Links*/
.item-meta .small-social-icon { padding-top: 4px; }
.item-meta .small-social-icon li a {
    font-size: 0.875rem;
    line-height: 16px;
    color: #333333;
}
@media (max-width: 992px) { .item-meta.v-center, .item-meta .v-center { display: flex; } }
/*Edit Post*/
.edit-link .post-edit-link { font-weight: 700; color: #333; }
.edit-link .post-edit-link:hover { text-decoration: underline; }
/*More Link*/
.more-link.btn-ex-small {
	font-size: 0.938rem;
}


/*===================================================================================*/
/*	Blog & Detail Page
/*===================================================================================*/

@media (min-width: 992px) {
	.site-content { padding-top: 0px !important; }	
	.site-content .blog { margin: -110px 0 0; } 
}
.site-content { padding: 80px 0 50px; }
.site-content .blog .post {
	margin: 0 0 70px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
}
.site-content .blog .post:hover {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
}
.site-content .blog .post:last-child {
	margin: 0 0 60px;
}

.site-content .blog .post-content { padding: 35px 30px 30px; }
.site-content .blog .post-content > hr { margin-top: 60px; }
.site-content .blog .entry-header { margin: 0 0 22px; }
.site-content .blog .more-link { font-size: 0.938rem; margin-top: 10px; }
.site-content .blog.blog-detail .post-content { text-align: left; }
.site-content .blog .post-content-detail { padding: 35px 30px 10px; }

/*Paginations*/
.pagination { margin: 0px; display: block; padding: 40px 0 50px; text-align: center; }
.pagination a {
	background-color: #fff; 
	border: 1px solid #f3f3f3; 
	color: #333333;
	cursor: pointer;
	display: inline-block;
	line-height: 1.2;
	font-weight: 600;
	transition: all 0.3s ease 0s;
	font-size: 1.125rem;
	border-radius: 0px;
	margin: 0 2px 10px;
	padding: 10px;
	vertical-align: baseline;
	white-space: nowrap;
	width: 47px;
	height: 47px;
}
.pagination a:hover, .pagination a.active { background-color: #fff; border: 1px solid #f3f3f3; }

/*Blog Author*/
.blog-author { 
	background-color: #ffffff; 
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
	margin: 0 0px 70px; 
	padding: 35px 30px 30px; 
}
.blog-author .avatar { margin: 0 auto 40px; height: 120px; width: 120px; }	
.blog-author .name { margin: 0 0 10px; font-weight: 700; }
.blog-author .small-social-icon li a {
    color: #333333;
}
/*Related Post*/
.related-post { 
	background-color: #ffffff; 
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
	margin: 0 0px 70px; 
	padding: 35px 30px 30px; 
	overflow: hidden;
}
.site-content .blog .related-post .post { 
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	margin: 0;
}
.site-content .blog .related-post .post-content {
    padding: 20px;
	text-align: center;
}
.site-content .blog .related-post .entry-header {
    margin: 0px;
}
/*Comments*/
.comment-section { 
	background-color: #ffffff; 
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);  
	margin: 0 0px 70px; 
	padding: 30px 30px 40px; 
}
.comment-title { display: block; margin: 0 0 25px; }
.comment-title h5 { margin: 0; font-weight: 700; }
.comment-box { margin: 0 0 30px; padding: 30px; position: relative; border: 1px solid #f3f3f3; }
.comment-box:last-child { margin: 0px; }
.pull-left-comment { float: left; margin-right: 20px; width: 50px; height:50px; }
.comment-img { margin: 0px 0 20px;  }
.comment-detail { }
.comment-detail-title { margin: 0 0 5px; font-weight: 700; }
.comment-date { font-size: 0.875rem; color: #a5a5a5; display: block; margin: 0 0 15px; }
.reply a {
    color: #fff;
    border-radius: 25px;
    display: inline-block;
    font-size: 0.813rem;
    padding: 7px 25px;
    font-weight: 500;
    transition: 0.3s ease-in-out 0s;
}
.reply a:hover, .reply a:focus { color: #fff; }

/*Comment Form*/
.comment-form-section { 
	background-color: #ffffff; 
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);  
	margin: 0 0px 60px; 
	padding: 30px 25px 40px;  
}
.comment-form-section form label { font-size: 0.938rem; display: block; margin: 0 0 20px; font-weight: 600; }
.comment-form-section form input, .comment-form-section form textarea { margin-bottom: 20px; }
.comment-form-section form input { height: 50px; }


/*===================================================================================*/
/*	Contact Form 7 & Contact Info Section
/*===================================================================================*/

.contact {
    position: relative;
    width: 100%;
	height: 100%;
    background: url(../images/testimonial-bg.jpg) center center no-repeat;
    background-size: cover;
}
.contact:before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    background-color: rgba(250, 250, 250, 0.95);
}
.contact-form { 
	background-color: #fff; 
	-webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.3);
	margin: 0 0 50px; 
	padding: 50px 50px 50px 50px; 
}
.contact .title { font-size: 2.500rem; margin-bottom: 35px; }
.contact .subtitle { margin-bottom: 5px; }

.wpcf7-form { margin: 0; }
.wpcf7-form label { display: block; margin-bottom: 15px; }
.wpcf7-form label:last-child { margin-bottom: 0px; }
.wpcf7-form input[type="text"], .wpcf7-form input[type="email"], 
.wpcf7-form textarea, .wpcf7-form select { 
	border-top: none;
    border-left: none;
    border-right: none;
	border-bottom: 1px solid #696969;
	border-radius: 0;
	font-size: 1.000rem;
	padding: 12px 0px;
	font-weight: 500;
}
.wpcf7-form input[type="text"]:focus, .wpcf7-form input[type="email"]:focus, 
.wpcf7-form textarea:focus, .wpcf7-form select:focus { outline: 0; }
.wpcf7-form .wpcf7-submit { margin: 25px 0 0; }

/*Contact Info*/
.contact-info { 
	background-color: transparent; 
	margin: 0 0 50px; 
	padding: 0px 0px 0px 70px; 
}
.contact-widget { margin: 0 0 30px; }
.contact-icon {
	color: #fff;	
    float: left;
    margin: 0 25px 25px 0;
    padding: 3px;
	width: 2.563rem;
	height: 2.563rem;
	text-align: center;
	border-radius: 100%;
	font-size: 1.375rem;
	line-height: 1.6;
}
.contact-icon i { color: #fff; transition: all 0.3s ease-in-out 0s; }
.contact-widget .title { font-weight: 700; font-size: 1.375rem; margin: 0 0 15px; }
.contact-widget address { line-height: 1.7; margin: 0; }
.contact-widget address > a { color: #696969; }
.contact-widget address > a:after { content: "|"; margin-right: 15px; margin-left: 15px; font-size: 1.125rem; }
.contact-widget address > a:last-child::after { display: none; }
@media (max-width: 992px) { 
	.contact-info { padding-left: 20px; } 
	.contact-widget address > a { display: block; }
	.contact-widget address > a:after { display: none; }
}


/*===================================================================================*/
/*	Sponsors Section
/*===================================================================================*/

.sponsors { position: relative; background-color: #ffffff; padding: 90px 0; }
/* .sponsors .blank_div ~ .sponsors-module { */
    /* padding: 175px 0; */
	/* position: relative; */
    /* z-index: 1; */
    /* left: unset; */
    /* right: unset; */
    /* top: unset; */
    /* -webkit-transform: unset; */
    /* -ms-transform: unset; */
    /* transform: unset; */
/* } */
.marquee {
	width: 100%;
	font-size: 9.000rem;
	line-height: 1;
	font-weight: 300;
	overflow: hidden;
	color: #f7f7f7;
}
.sponsors-module {     
	position: absolute;
    z-index: 1;
	left: 0;
	right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
}
.logo-scroll { margin: 0px auto; display: block; }
.logo-scroll img { display: block; margin: 0 auto; }
.logo-scroll a { display: block; }




/*===================================================================================*/
/*	Instagram Gallery Section
/*===================================================================================*/

.instagram-gallery { position: relative; margin: 0px; padding: 0; }
.instagram-gallery .instagram-thumbnail {
    width: 100%;
	overflow: hidden;
	position: relative;
	transition: all 0.3ms ease-out 0s;
}
.instagram-gallery .instagram-thumbnail img { transition: all 300ms ease-out 0s; width: 100%; opacity: 1; }
.instagram-gallery .instagram-thumbnail:hover img {
	-webkit-transform: scale(1.07); 
	-moz-transform: scale(1.07); 
	-ms-transform: scale(1.07); 
	-o-transform: scale(1.07); 
	transform: scale(1.07);
	opacity: 1;
}
.insta-btn {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    top: 50%;
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    margin: auto;
}
.insta-btn big { font-size: 2.250rem; color: #333333; line-height: 1.1; font-weight: 700; display: block; }
.insta-btn a {
    background: rgba(255,255,255,0.95);
    box-shadow: 0.2px 0.2px 4px rgba(0,0,0,0.15);
    z-index: 3;
    position: relative;
    display: inline-block;
    font-weight: 500;
    padding: 5px 40px 8px;
    border: 5px solid #f1f1f1;
	text-decoration: none;
}


/*===================================================================================*/
/*	PAGE TITLE SECTION 
/*===================================================================================*/
body.page .navbar-custom { background-color: rgba(0, 20, 42, 1); }
.navbar-custom + .page-title-section {
    margin-top: 68px;
}

.page-title-section { 
	background: #17212c url("../images/page-title-bg.jpg");
	background-attachment: scroll;
	background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	position: relative; 
	padding: 245px 0; 
	width: 100%; 
	height: 100%; 
}
@media (max-width: 992px) {
	.page-title-section { padding: 155px 0; }
}
@media (max-width: 768px) {
	.page-title-section { padding: 105px 0; }
}
@media (max-width: 480px) {	
	.page-title-section { padding: 63px 0 63px; }
}
.page-title-section .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}
.page-title-section .content-center { 
	position: relative;
    display: table;
    height: 100%;
}
.page-title { position: relative; }
.page-title h1 { margin: 0px; word-wrap: break-word; }
.page-breadcrumb {
	list-style: none outside none;
    margin: 0px;
    padding: 15px 0 0px;
    font-weight: 500;
    font-size: 1.000rem;
}
.page-breadcrumb > li { color: #eceded; display: inline-block; }
.page-breadcrumb > li + li:before { color: #eceded; content: "/"; padding: 0 10px 0 5px; }
.page-breadcrumb > li a { color: #eceded; }
.page-breadcrumb > li.active a { text-decoration: underline; }
@media (max-width: 768px) {
	.page-title h1 { margin: 0; text-align: center; }
	.page-breadcrumb { text-align: center; padding: 15px 0 5px; float: none; }
}
@media (max-width: 480px) { 
	.page-title h1 { font-size: 2.000rem; }
	.page-breadcrumb { padding: 5px 0 5px; }
}


/*===================================================================================*/
/*	Sidebar & Widgets Section
/*===================================================================================*/

@media (min-width: 992px) { 
	.sidebar { padding-left: 30px; } 
	.sidebar.right { padding-left: 0px; padding-right: 30px; } 
}
.sidebar { padding-top: 70px; }
.sidebar .widget .widget-title { background-color: #f5f5f5; font-weight: 700; font-size: 1.250rem; text-align: center; padding: 10px 20px; }
.sidebar .widget { background-color: #ffffff; }
.widget { background-color: transparent; overflow: hidden; padding: 0 0 70px; margin: 0; }
.widget:last-child { padding: 0 0 45px; }
.widget .widget-title { font-weight: 600; margin: 0 0 30px; text-align: left; word-wrap: break-word; }
/*Sidebar News*/
.widget .post { background: transparent; margin: 0 0 25px; padding: 0 0 12px; box-shadow: none; border-bottom: 1px solid #f3f3f3;  }
.widget .post:last-child { margin: 0px; padding: 0px; border-bottom: none !important; }
.widget .post .entry-title { 
	margin: -5px 0 5px; 
	line-height: 1.5; 
	display: block;
	font-size: 1.000rem;
	word-wrap: break-word;
	font-weight: 600;
}
.widget .post .entry-title a { color: #333333; }
.widget .post a.post-thumbnail { display: block; float: left; width: 120px; height: auto; margin-right: 20px; margin-bottom: 20px; }
.widget .post .entry-meta { font-size: 0.813rem; margin: -3px 0 10px }
.widget .post .entry-meta span { margin: 0px; }
.widget .post .entry-meta span:before { display: none; }
/*Sidebar Tags*/
.tagcloud { margin: 0px; overflow: hidden; padding: 0px 0; }
.tagcloud a {
	background-color: #fff; 
	border: 1px solid #f3f3f3; 
	color: #333333;
    cursor: pointer;
    display: inline-block;
	font-size: 0.875rem;
	font-weight: 500;
    margin: 0 5px 10px 0;
    padding: 7px 17px;
    transition: all 0.3s ease 0s;
    vertical-align: baseline;
    white-space: nowrap;
}
.widget .tagcloud a:hover { background-color: #fff; border: 1px solid #f3f3f3; }
/*Widget Paragraph*/
.widget p { margin: 0 0 20px; }
.widget p:last-child { margin: 0; }
/*Sidebar Calender*/
.widget_calendar {}
.widget table {
	font-weight: 500;
	color: #696969;
	font-size: 0.938rem;
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0;
	text-align: center;
	table-layout: fixed;
	width: 100%
}
.widget #wp-calendar caption { 
	text-align: center;background-color: #333333; 
	color: #ffffff;
	font-weight: 600;
	font-size: 1.000rem;
    margin: 0;
	padding: 10px 0;
}
.widget #calendar_wrap th { color: #333333; text-align: center; border-width: 0 1px 1px 0; line-height: 2.5; }
.widget #calendar_wrap td { border-width: 0 1px 1px 0; line-height: 2.5; }
.widget #wp-calendar tr td { border-width: 0 1px 1px 0; line-height: 2.5; }
.widget #wp-calendar a { color: #333333; font-weight: 600; }
.widget #wp-calendar #next a { color: #333333;font-weight: 600; }
.widget #wp-calendar #prev a { color: #333333;font-weight: 600; }
.widget #wp-calendar a:hover, 
.widget #wp-calendar #next a:hover, 
.widget #wp-calendar #prev a:hover { 
	color: #00a7d1; 
}
.widget table, .widget th, .widget td { text-align: center; padding: 0; border: 1px solid rgba(51, 51, 51, 0.1); }
/*Sidebar Widget Archive, Widget categories, Widget Links, Widget Meta, widget Nav Menu, 
Widget Pages, Widget Recent Comments, Widget Recent Entries */
.widget ul, .widget_archive ul, .widget_categories ul, .widget_links ul, 
.widget_meta ul, .widget_nav_menu ul, .widget_pages ul, 
.widget_recent_comments ul, .widget_recent_entries ul { 
	padding: 0;
	margin: 0;
	list-style: outside none none;
	font-weight: 500;
}
.widget_archive li, .widget_categories li, .widget_links li, .widget_meta li, 
.widget_nav_menu li, .widget_pages li, .widget_recent_comments li, .widget_recent_entries li {
    margin: 0;
	padding-left: 15px !important;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #f3f3f3;
}
.widget_archive li:last-child, .widget_categories li:last-child, .widget_links li:last-child, .widget_meta li:last-child, 
.widget_nav_menu li:last-child, .widget_pages li:last-child, .widget_recent_comments li:last-child, .widget_recent_entries li:last-child {
    margin: 0px;
	padding-bottom: 0px;
	border-bottom: none;
}
.widget li a, .widget_archive li a, .widget_categories li a, .widget_links li a, .widget_meta li a, .widget_nav_menu li a, .widget_pages li a, .widget_recent_comments li a, .widget_recent_entries li a {
	color: #333333;
	transition: all 0.3s ease 0s;
	position: relative;
}
.widget_archive li a:before, .widget_categories li a:before, .widget_links li a:before, .widget_meta li a:before, 
.widget_nav_menu li a:before, .widget_pages li a:before, .widget_recent_comments li a:before, .widget_recent_entries li a:before {
    content: "\f105";
	font-family: FontAwesome;
    position: absolute;
    right: auto;
    left: -15px;
    font-size: 0.938rem;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.widget_archive li a:hover:before, .widget_categories li a:hover:before, .widget_links li a:hover:before, 
.widget_meta li a:hover:before, .widget_nav_menu li a:hover:before, .widget_pages li a:hover:before, 
.widget_recent_comments li a:hover:before, .widget_recent_entries li a:hover:before {
    left: -12px;
}


/*===================================================================================*/
/*	Footer Section
/*===================================================================================*/

.site-footer {
    background-color: #17212c;
    margin: 0px;
    padding: 0px;
	position: relative;	
}
@media (min-width: 992px){
	.site-footer:before {
		content: "";
		width: 26.5%;
		height: 100%;
		position: absolute;
	}	
	.site-footer .container-fluid {
		padding: 0 100px;
	}
}
.footer-sidebar { padding: 100px 0 40px; }
.footer-sidebar .widget { font-size: 0.938rem; }
@media (min-width: 768px){ .footer-sidebar .widget { padding-left: 40px; } }
.footer-sidebar .widget:last-child { font-size: 0.938rem; }
.footer-sidebar .widget .widget-title:after {
    display: none;
}
.footer-contact-info { background-color: #141414; padding: 40px 0; }
.footer-sidebar .widget .post .entry-content p, .footer-sidebar .widget, 
.footer-sidebar .widget p, .footer-sidebar .widget .post .entry-title a { 
	color: #adbbcb; 
}
.footer-sidebar h1, .footer-sidebar h2, .footer-sidebar h3, 
.footer-sidebar h4, .footer-sidebar h5, .footer-sidebar h6 {  
	color: #fbf9f7;
}
.footer-sidebar .widget_archive li, .footer-sidebar .widget_categories li, .footer-sidebar .widget_links li, 
.footer-sidebar .widget_meta li, .footer-sidebar .widget_nav_menu li, .footer-sidebar .widget_pages li, 
.footer-sidebar .widget_recent_comments li, .footer-sidebar .widget_recent_entries li {
    padding-left: 0px !important;
    padding-top: 0;
    padding-bottom: 15px;
    border-bottom: none;
}
.footer-sidebar .widget_archive li a:before, .footer-sidebar .widget_categories li a:before, .footer-sidebar .widget_links li a:before, 
.footer-sidebar .widget_meta li a:before, .footer-sidebar .widget_nav_menu li a:before, .footer-sidebar .widget_pages li a:before, 
.footer-sidebar .widget_recent_comments li a:before, .widget_recent_entries li a:before {
    display: none;
}
.footer-sidebar .widget a, .footer-sidebar .widget_archive a, .footer-sidebar .widget_categories a, .footer-sidebar .widget_links a, 
.footer-sidebar .widget_meta a, .footer-sidebar .widget_nav_menu a, .footer-sidebar .widget_pages a, .footer-sidebar .widget_recent_comments a, 
.footer-sidebar .widget_recent_entries a, .footer-sidebar .widget dl, .footer-sidebar .widget ul > li, .footer-sidebar .widget ol > li, 
.footer-sidebar .widget address, .footer-sidebar .widget .wp-caption .wp-caption-text, .footer-sidebar .widget .gallery-caption, 
.footer-sidebar .widget .entry-caption, .footer-sidebar .widget ul#recentcomments li.recentcomments span.comment-author-link {
	color: #adbbcb;
}
/*Sidebar News*/
.footer-sidebar .widget .post { padding: 0px; border-bottom: none; }


/*===================================================================================*/
/*	FOOTER COPYRIGHTS - SITE INFO
/*===================================================================================*/

.site-info { padding-bottom: 60px; }
@media (min-width: 992px){ .site-info { padding: 0 30px 70px 0; } }
.site-info p { color: #ffffff; letter-spacing: 0.10rem; margin: 0; padding: 0; }
.site-info a, .site-info a:hover, .site-info a:focus { color: #ffffff; }


/*===================================================================================*/
/*	FOOTER SITE BRANDING TITLE
/*===================================================================================*/

.site-branding {
	position: relative;
	z-index: 3;
}
.site-title {
	clear: none;
	font-size: 3.75rem;
	line-height: 1.2;
	letter-spacing: 0.05rem;
	margin: 0;
}


/*===================================================================================*/
/*	404 Error Page
/*===================================================================================*/

.error-404 { padding-bottom: 90px; }
.error-404 h1 { font-size: 14.000rem; line-height: 1; font-weight: 500; letter-spacing: 1px; }
.error-404 h1 > i { font-size: 12.000rem; }
.error-404 h2 { font-size: 3.000rem; font-family: 'Lobster Two', cursive; }
@media (max-width: 768px) { 
	.error-404 h1 { font-size: 6.000rem; }
	.error-404 h1 > i { font-size: 6.000rem; }
	.error-404 h2 { font-size: 2.000rem; }
}


/*===================================================================================*/
/*	Preloader
/*===================================================================================*/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #e74c3c;

	-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #f9c922;

	-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
	0%   { 
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}
@keyframes spin {
	0%   { 
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}

#loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background: #222222;
	z-index: 1000;
	-webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateX(0);  /* IE 9 */
	transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
	left: 0;
}

#loader-wrapper .loader-section.section-right {
	right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
	-webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: translateX(-100%);  /* IE 9 */
			transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
			transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
	-webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: translateX(100%);  /* IE 9 */
			transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;  
			transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
	visibility: hidden;

	-webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: translateY(-100%);  /* IE 9 */
			transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

	-webkit-transition: all 0.3s 1s ease-out;  
			transition: all 0.3s 1s ease-out;
}


/*===================================================================================*/
/*	Page Scroll Up
/*===================================================================================*/

.scroll-up {
	position: fixed;
	display: none;
	bottom: 30px;
	right: 30px;
	z-index: 999;
}
.scroll-up a {
	display: block;
	height: 2.5rem;
	width: 2.5rem;
	text-align: center;
	line-height: 2;
	font-size: 1.250rem;
	background: #0e1f34;
	color: #fff;
	opacity: 1;
	transform: rotate(45deg);
    transition: all 0.3s ease 0s;
}
.scroll-up a:hover,
.scroll-up a:active {
	opacity: 1;
	color: #fff;
}
.scroll-up a > i {
	transform: rotate(-45deg);
}

