﻿/*
Theme Name: Innofit
Author URI: https://wordpress.org/
Theme URI: https://wordpress.org/themes/innofit
Author: SpiceThemes 
Created by: Shahid (Scientech IT)
Copyright (c) 2018 Innofit
Date: Not mentioned
http://www.spicethemes.com
Name: switcher.css
*/


#style-switcher h3 {  
	color: #fff;
    font-family: "Work Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 12px 0 12px 0px;
    padding: 0;
    border: 0px;
    letter-spacing: 0.05rem;
}
#style-switcher {
	background-color: #040c17;
	width: 205px;
	position:fixed;
	top: 140px;
	z-index: 999;
	border-radius: 0 0 3px 0;
	left: -206px;
	border: 1px solid #0d1f35;
	border-left: 0;
	border-top: 0;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.08);
}

#style-switcher div { padding: 3px 10px 0 18px; margin: 0px; overflow: hidden; }
#style-switcher h2 {
	background-color: #0d1f34;
	color: #fff;
	font-weight: 600;
    font-size: 15px;
	letter-spacing: 0.10rem;
	padding: 0 0 0 20px;
	margin:0;
	line-height:40px;
	text-transform: uppercase;
	font-family: "Work",Helvetica,Arial,sans-serif;
}
#style-switcher h2 a {
	background-color: #0d1f34;
	display: block;
	height: 40px;
	position: absolute;
	right: -43px;
	font-size:22px;
	text-align:center;
	color:#fff;
	top: 0;
	width: 43px;
	text-decoration:none;
	border-radius: 0 3px 3px 0;
}	
#style-switcher h2 a:focus { outline: none; }
.colors1 { list-style: none outside none; margin: 0 0 10px; border-bottom: 1px solid #d2d2d2; overflow: hidden; padding: 0 0 20px; }
.colors1 li { float:left; margin: 0px 2px 0; }
.colors1 li a { 
	border-radius: 1px; 
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 13px;
    height: 30px;
    padding: 5px;
    text-align: center;
    width: 80px;
} 

.colors { list-style: none outside none; margin: 0 0 20px; border-bottom: 1px solid #374354; overflow: hidden; padding: 0 0 20px; }
.colors:last-child { border-bottom: 0 none; padding: 0 0 10px; }
.colors li { float:left; margin: 4px 7px 4px 0px; }
.colors li a { display: block; width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 1px;
    border: 1px solid #374354; } 
.layout-style select, .header-style select, 
.footer-style select, .header-color input {
	width: 164px;
	padding: 7px 5px;
	color: #0f0f16;
	cursor: pointer;
	border-radius: 0px;
	height: 35px;
	font-size: 14px;
	margin: 2px 0 2px 2px;
	border: 1px solid #ccc;
	
}
.header-color .sp-replacer  { padding:4px 6px !important; }
.header-color .sp-replacer .sp-dd, 
.header-color .sp-replacer .sp-preview, 
div.header-color { padding:0px 1px !important; }
.layout-style, .header-style, .header-color
.footer-style { padding: 0 !important; }

.btn_layout {
	background-color: #f1f1f1;
    color: #040c17;
    border-radius: 2px;
	border: 0px none;
    display: inline-block;
    font-family: "Work Sans", Sans-serif;
    font-size: 13px;
	font-weight: 700;
    line-height: 20px;
    margin: 0 4px 2px 0px;
    padding: 4px 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
}
.btn_layout:hover, .btn_layout:focus {
	background-color: #f1f1f1;
    color: #040c17;
}

.default { background: #2a83e8; }
.red { background: #ce1b28; }
.green { background: #82b440; }
.purple { background: #6974ea; }
.orange { background: #ee591f; }
.yellow { background: #ffba00; }

.bg1 { background-image: url("../../images/bg-patterns/bg-img1.png"); }
.bg2 { background-image: url("../../images/bg-patterns/bg-img2.png"); }
.bg3 { background-image: url("../../images/bg-patterns/bg-img3.png"); }
.bg4 { background-image: url("../../images/bg-patterns/bg-img4.png"); }
.bg5 { background-image: url("../../images/bg-patterns/bg-img5.png"); }
.bg6 { background-image: url("../../images/bg-patterns/bg-img6.png"); }
.bg7 { background-image: url("../../images/bg-patterns/bg-img7.png"); }
.bg8 { background-image: url("../../images/bg-patterns/bg-img8.png"); }
.bg9 { background-image: url("../../images/bg-patterns/bg-img9.jpg"); }
.bg10 { background-image: url("../../images/bg-patterns/bg-img10.jpg"); }
.bg11 { background-image: url("../../images/bg-patterns/bg-img11.jpg"); }
.bg12 { background-image: url("../../images/bg-patterns/bg-img12.jpg"); }
	
@media only screen and (max-width: 1023px) { #style-switcher { display: none; } }

/* This media query for layout resize with boxed layout */

@media(min-width: 1200px) {
	body.boxed {
		width: 1210px;
		-webkit-box-shadow: 0 0 10px 0 rgba(48, 48, 48, 0.5);
		box-shadow: 0 0 10px 0 rgba(48, 48, 48, 0.5);
		/* margin: 30px auto; */
		margin: 0px auto;
		position: relative;
		background: url(../../images/bg-patterns/bg-img1.png) repeat fixed;
	}
}

@media (min-width: 768px) and (max-width: 979px)  {
	body.boxed { width: 100%; }
}

@media (max-width: 767px) {
	body.boxed { width: 100%; }
	body { padding-left: 0px !important; padding-right: 0px !important; }	
}

@media (min-width: 980px) and (max-width: 1199px) {
	body.boxed { width: 100%; }	
}   